
body {

	background: #ad66e7;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #8815cf, #ad66e7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #8815cf, #ad66e7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Montserrat', sans-serif;
}

.boton {
border: 0px solid #2e518b; /*anchura, estilo y color borde*/
padding: 10px; /*espacio alrededor texto*/
background-color: #ad66e7; /*color botón*/
color: #fff; /*color texto*/
text-decoration: none; /*decoración texto*/
/*text-transform: uppercase; /*capitalización texto*/
font-family: 'Montserrat', sans-serif;; /*tipografía texto*/
border-radius: 5px; /*bordes redondos*/
}
