{% extends 'layout.html'%}
{% block content %}
<! JUMBOTON ->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{object.titulo}}</h1>
    {{object.fecha_publicacion| date }}
    <br>
    {{object.texto}}<br>

    <hr>

  <a class="btn btn-default" href="{% url 'foro:agregar' post.id %}">Agregar Comentario</a>

    {% for comment in post.comentarios.all %}
    <div class="comment">
        <div class="date">{{ comment.fecha_creacion| date}}</div>
        <strong>{{ comment.usuario }}</strong>
        <p>{{ comment.mensaje|linebreaks }}</p>
    </div>
    {% empty %}

    <p>No hay comentarios</p>

    {% endfor %}



    <p class="lead"><a class="boton" href="{% url 'foro:listar' %}" style=""> Volver </a></p>

</div>

<! FIN
{% endblock %}
