{% extends 'layout.html'%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">FORO</h1>
      <p class="lead"><a class="boton" href="{% url 'foro:crear' %}" style=""> Crear Posteo </a></p>

            <form method="GET">
            <select name="buscar">
              {% for t in tematica %}
                <option value="{{t.id}}">{{t.nombre}}</option>
              {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Buscar</button>
            </form>

    {% for p in posteos %}

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{p.titulo}}</h5>
        <p class="card-text">Para visualizar el contenido haga click en ver..</p>
        <a href="{% url 'foro:detalle' p.id %}" class="btn btn-primary">Ver</a>
      </div>
    </div>
          <br>
    {% endfor %}

  {%endblock%}
  </div>
</div>

<!--<p><b>AUTOR: </b>{{p.autor}} </p>  -->

<!--<p><b>TITULO: </b><a href="{% url 'foro:detalle' p.id %}">{{p.titulo}}</a></p> -->
