{% extends 'layout.html'%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="h1">FORO</h1>
      <a id="boton-blanco" type="button" href="{% url 'foro:crear' %}"> CREA TU POSTEO </a><br>

      <br>
    <div class="container">
      <div class="row">
        <div class="col-md-12 search">
          <form method="get">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input id="boton-blanco" type="text" class="form-control" placeholder="Buscar.." name="buscar" value="{{ request.GET.buscar }}">
                <span class="input-group-list">
                  <i class="icon icon-search"></i>
                  <button type="submit" id="boton-blanco">Buscar</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
<hr>

  {% if posts %}
      {% for p in posts %}
        <br>
        <div class="tarjeta">
            <h3><strong>{{p.titulo}}</strong></h3>
            <p>{{p.texto|truncatechars:50}}</p>
            <a href="{% url 'foro:detalle' p.id %}" class="boton">Ver Más</a>
        </div>

      {% empty %}
        <h5 id="format2"><strong>¡No hay posteos!</strong></h5>
      {%endfor%}
  {% else %}
      <h5 id="format2"><strong>¡No se encontaron coincidencias!</strong></h5>
  {% endif %}

  <hr>

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}

                <a type="button" class="btn btn-primary btn-sm" id="boton-blanco" href="?page=1">&laquo; Primero</a>
                <a type="button" class="btn btn-primary btn-sm" id="boton-blanco" href="?page={{ posts.previous_page_number }}">Anterior</a>
            {% endif %}

            <span class="current" style="color:white">
              | Pagina {{ posts.number }} de {{ posts.paginator.num_pages }} |
            </span>

            {% if posts.has_next %}
                <a type="button" class="btn btn-primary btn-sm" id="boton-blanco" href="?page={{ posts.next_page_number }}">Siguiente</a>
                <a type="button" class="btn btn-primary btn-sm" id="boton-blanco" href="?page={{ posts.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>

{%endblock%}
</div>
