{% extends 'layout.html'%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">FORO</h1>
      <p class="lead"><a class="boton" href="{% url 'foro:crear' %}" style=""> Crear Posteo </a></p>

<!-- WARNING:
      <p class="lead"><a class="boton" href="{% url 'foro:buscar' %}" style=""> Buscar por Tematica </a></p>
 -->
    <div class="container">
      <div class="row">
        <div class="col-md-12 search">
          <form method="get">
            <div id="custom-search-input">
              <div class="input-group col-md-12">
                <input type="text" class="form-control" placeholder="Buscar.." name="buscar" value="{{ request.GET.buscar }}">
                <span class="input-group-list">
                  <i class="icon icon-search"></i>
                  <button type="submit" class="boton btn-success">Buscar</button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
<hr>

  {% if posts %}
    {% for p in posts %}
      <br>
      <h5 class="card-title">{{p.titulo}}</h5>
      {{p.texto|truncatechars:50}}
      <a href="{% url 'foro:detalle' p.id %}" class="btn btn-primary">Ver Más</a>
    {%endfor%}
  {% else %}
      <h5 class="card-title">No se encontaron coincidencias!! </h5>
  {% endif %}
<!-- WARNING:
    {% for p in posteos %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{p.titulo}}</h5>
        <p class="card-text">{{p.texto|truncatechars:50}}</p>
        <a href="{% url 'foro:detalle' p.id %}" class="btn btn-primary">Ver</a>
      </div>
    </div>
    <br>
    {% endfor %}
  -->
  <hr>
    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; Primero</a>
                <a href="?page={{ posts.previous_page_number }}">Anterior</a>
            {% endif %}
            <span class="current">
              | Pagina {{ posts.number }} de {{ posts.paginator.num_pages }} |
            </span>
            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">Siguiente</a>
                <a href="?page={{ posts.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </span>
    </div>
  </div>
</div>
{%endblock%}
