{% extends 'layout.html'%}
{% block content %}
<! JUMBOTON ->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="display-3">{{object.titulo}}</h1>
		<p class="post-meta">{{object.fecha_publicacion|date}}</p>
		<br>
		<h2>{{object.copete}} </h2>
		<br>
		{% if object.imagen %}
				<a href="{{object.fuente}}">
					<img src="{{object.imagen}}" width= 520 height= 320 alt="es la imagen de la noticia" title="Autor:   {{object.autor}}   Fuente: {{object.fuente}} ">
				</a>>
				{% else %}
					<p>NO HAY IMAGEN PARA MOSTRAR</p>
		{% endif %}
		<br>
		<p>Autor: {{object.autor}}</p> 
		<br>
		{{object.cuerpo|safe}}
		<br>
	</div>
</div>
	
	
 
<! FIN
{% endblock %}
