{% extends 'layout.html'%}
{% block content %}
<! JUMBOTON ->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		<h1 class="h1">{{object.titulo}}</h1>
		<p class="texto-paginator">{{object.fecha_publicacion|date}}</p>
		<br>
		<h2  id="format">{{object.copete}} </h2>
		<br>
		{% if object.imagen %}
				<a href="{{object.fuente}}">
					<img src="{{object.imagen}}" width= 520 height= 320 alt="es la imagen de la noticia" title="Autor:   {{object.autor}}   Fuente: {{object.fuente}} ">
				</a>>
				{% else %}
					<p>NO HAY IMAGEN PARA MOSTRAR</p>
		{% endif %}
		<br>
		<p id="format">Autor: {{object.autor}}</p>
		<br>
		<p id="format">{{object.cuerpo|safe}}</p>
		<br>
		<p class="lead"><a class="btn btn-primary" id="boton-blanco" href="{% url 'noticias:Notas' %}" style=""> Volver </a></p>
	</div>

</div>

<! FIN
{% endblock %}
