{% extends 'layout.html'%}
{%block content%}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="h1">NOTICIAS</h1>

    {% for p in noticias %}
      <div class="tarjeta">
          <h5 class="card-title">{{p.titulo}}</h5>
          <img src="{{p.imagen}}" width="170" height="110" alt="No hay imagen para mostrar">
          <p>{{p.fecha_publicacion|date}}</p>
          <a href="{% url 'noticias:detalles' p.id %}" class="boton">Ver</a>
      </div>
    <br>
    {% endfor %}

</div>
  {%endblock%}
  </div>
