{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial*scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Educación Sexual Integral</title>
	<link rel="icon" href="{% static 'icono/esi.ico'%}">
	<!bootstrap->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<!fin->
	<!CSS->
	<link rel="stylesheet" href="{% static 'css/main2.css'%}">
	<!FIN->
</head>
<body>
	<! NAVEGADOR BARRA ->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">ESI</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">

				<a class="nav-link active" href="{% url 'home' %}">Inicio <span class="sr-only">(current)</span></a>

				<a class="nav-link" href="{% url 'noticias:listar' %}">Noticias</a>
				<a class="nav-link" href="{% url 'myv:mitos' %}">Mitos y verdades</a>
				<a class="nav-link" href="{% url 'foro:listar' %}">Foro</a>
				<a class="nav-link" href="{% url 'legal' %}">Leyes y Aspectos Legales</a>
		</div>
		</div>
				{% if user.is_authenticated%}
						<h5>Hola {{user.username}}</h5>
						<a class="nav-link active" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
				{% else %}
			  		<a class="nav-link active" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
						<a class="nav-link active" href="{% url 'usuarios:registrar' %}">Registrar <span class="sr-only">(current)</span></a>
				{% endif %}
</nav>
	<!NAVBAR->
	<div class="container p-4">
	{% block content %}

	{% endblock %}
	</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

</html>
