{% extends "layout.html"%}

{% block content %}
<! JUMBOTON ->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="h1">La Ley de Educación Sexual Integral (ESI)</h1>
    <p id="format">

En Argentina, lleva el número 26.150, y establece el derecho de todos los estudiantes a recibir contenidos de educación sexual de manera integral en todas las escuelas del país desde el Nivel Inicial hasta la formación técnica no universitaria. Esta ley da origen al Programa Nacional de Educación Sexual Integral.

Implementación
Tras la sanción de la ley nace el Programa de Educación Sexual Integral, con la finalidad de hacer cumplir el derecho de los niños, niñas y adolescentes a recibir Educación Sexual Integral (ESI) en todos los establecimientos educativos públicos de gestión estatal y privada, desde los niveles de educación inicial hasta la formación docente.
Debido a la discusión que se produjo en torno a la legalización del aborto en Argentina se abrió un debate en torno a la implementación de la ley de Educación Sexual Integral. Durante 2018, se propusieron modificaciones sobre la ley, que aún no fueron reguladas. Entre las principales propuestas se destacaba que la Ley fuera declarada de orden público, para que todas las provincias la implementaran de forma obligatoria en las escuelas públicas tanto de gestión estatal como privadas, sin excepción. A su vez, se proponía eliminar el artículo 5, el cual permite que cada institución puede dar educación sexual según su ideario. También incluía las leyes de ampliación de derechos sancionadas y conceptos incorporados en la última década.
Los sectores conservadores en Latinoamérica suelen encolumnarse en contra de las políticas de Estado que garantizan derechos sexuales y el libre ejercicio de la identidad de género. Este grupo propone información contraria a los lineamientos que contiene la ley basándose en la ideología de género. Las organizaciones referenciadas a este movimiento supieron realizar acciones de protesta con el objetivo de modificar el contenido de la legislación. Finalmente la ley de educación sexual integral no sufrió ningún tipo de modificaciones.
Desde su creación, la Ley 26.150 ha sido analizada y relevada de forma nacional para ver su trabajo en las instituciones educativas. En lo que respecta al Programa Nacional de ESI en el año 2014 se llevaron adelante dos líneas de evaluación. Uno a cargo de la Facultad de Humanidades de la Universidad de Salta "Evaluación de acciones de capacitación del Programa Nacional de Educación Sexual Integral" y el otro a cargo de Eleonor Faur "La educación sexual integral en la Argentina. Balances y desafíos de la implementación de la Ley 26.150".
Por otro lado, el operativo Aprender 2017, realizado en la provincia de Buenos Aires, que se desarrolló en casi 29 mil escuelas y contó con la participación de más de 9000 estudiantes, arrojó que un 75% de las y los estudiantes de secundarios no recibe educación sexual y que desearían hacerlo. Por otro lado, una encuesta realizada (2018) a 850 docentes y 44.123 estudiantes de escuelas secundarias públicas de la Ciudad Autónoma de Buenos Aires, reveló que nueve de cada diez estudiantes mencionan haber trabajado sobre temas de educación sexual durante el 2017. De ellos, un 60% afirmó haber abordado entre ocho y diecisiete temas en clase.
Los enfoques de la ESI:
Existen distintos modelos pedagógicos para el abordaje de la sexualidad en la escuela. Cada uno nos trae una mirada particular acerca de la sexualidad, el rol de los distintos actores de la comunidad educativa y el proceso de enseñanza y aprendizaje.
Existen enfoques que tienen muchos elementos en común con la ESI y otros que se alejan más de esta propuesta. Entre los abordajes más distantes podemos mencionar los enfoques tradicionales o moralistas que se basan en una pedagogía mecanicista centrándose en lo que “es correcto” y lo que “se debe hacer”, así como también el enfoque biomédico que entiende el abordaje de la sexualidad desde una mirada centrada en la genitalidad y la reproducción humana.
Los enfoques que más se aproximan a la propuesta de la ESI son:
• La sexología, la misma se basa en promover la enseñanza de las “buenas prácticas” sexuales cómo percibimos nuestro cuerpo sexuado, qué nos sucede en las relaciones sexuales dándole importancia a la subjetividad.  Pensado de manera individual lo cual en cierto modo lo aleja de la ESI, ya que las dimensiones sociales y colectivas no son tenidas en cuenta.
• El Enfoque Judicializante hace hincapié en un abordaje que contempla los derechos humanos y pone especial énfasis en las situaciones de vulneración que viven NNyA como por ejemplo los abusos. Aquí se propone la inclusión de una sólida formación en derechos humanos. Es un enfoque que regula la sexualidad desde el derecho, para garantizar el respeto a lo más íntimo y personal de las niñas, niños y adolescentes, generando mecanismos para protegerlas/os y al mismo tiempo, valorarlos como sujetos.
• El enfoque de género, pone su énfasis en las demandas de los organismos de derechos humanos y los movimientos de mujeres y de disidencia sexual (llamadas LGTTBIQ: lesbianas, gays, travesti, transexual, bisexuales, intersexual y queer). Tiene un enfoque fuertemente pedagógico, ya que se respeta la situación y realidad de cada persona, su capacidad de construir conocimiento crítico, y pone en relación esa experiencia particular con la sociedad.27 Busca develar las tramas de relaciones sociales en las que se encuentran los cuerpos humanos y dar cuenta del uso, disfrute y cuidado del mismo; influyen el sector socioeconómico y educativo de pertenencia, las costumbres y valores del grupo social que la integran, y particularmente por las relaciones de género.
Los ejes de la ESI:
La propuesta de la ESI entiende la sexualidad de manera amplia, no restringida únicamente a cuestiones relacionadas con la genitalidad sino que abarca también los pensamientos, fantasías, deseos, creencias, actitudes, valores, actividades, prácticas, roles y relaciones. Es decir de forma integral, atravesada por cinco ejes:
Reconocer la perspectiva de género
Con perspectiva de género, se refiere a la manera de ver las relaciones de poder, entre personas de distintos géneros para evitar situaciones de vulnerabilidad de derechos.
Este eje propone analizar estos casos de desigualdad, problematizar aquello etiquetado como femenino o masculino, identificando estereotipos de género y así promover la igualdad social.
Por otra parte la perspectiva de género, da lugar a dos dimensiones que son de mucha utilidad, por un lado una que propone que el género es una construcción social y no una cuestión anatómica, y por otro lado una dimensión que da lugar a una perspectiva relacional que tiene en cuenta a los varones, las mujeres, y a otras identidades en las que se plantean relaciones de poder.
Respetar la diversidad
Este eje implica reconocer y valorar las infinitas diferencias que existen como seres humanos teniendo en cuenta que todos tienen los mismos derechos. Abordar este eje conlleva reconocer y valorar positivamente las diferencias entre las personas, ya sean de origen étnico, religiosas, políticas, edad, etc.
La identidad de género y la orientación sexual de cada individuo también forma parte de esta diversidad, y es por esto que abordar dichos temas en las escuelas implica respetar la identidad sexual, es decir, con la cual se presenta cada persona.
Para la ESI lo fundamental del eje “Respetar la diversidad” es:
• Rescatar el significado profundo de convivir en una sociedad plural y poner en valor la diversidad.
• Cuestionar la “presunción de heterosexualidad”.
• Respetar la identidad de género y la orientación sexual de todas las personas.
• Rechazar la violencia y la estigmatización por orientación sexual e identidad de género ya que no puede haber silencio pedagógico frente a la discriminación de cualquier tipo.


Valorar la afectividad
En este eje se busca recuperar el lugar que tienen las emociones y los sentimientos a la hora del aprendizaje y hacer hincapié en la empatía, la solidaridad y el respeto, volviéndose fundamental para la hora de tomar decisiones sobre el cuerpo propio y del otro, y para trabajar diferencias en las relaciones sociales de pareja.
Destaca que las emociones están presentes en toda interacción humana, que pueden sumar o restar a dichas interacciones. A su vez, promueve la posibilidad de generar condiciones en las que todas las personas puedan manifestar sus puntos de vista, siempre con respeto, y repudiando cualquier tipo de violencia y/o cohesión.
Ejercer los derechos
Este eje explicita que los niños, niñas y adolescentes son sujetos de derecho, con capacidad participativa, para ser escuchados y no sufrir ningún tipo de discriminación, considerando a personas adultas y al Estado como garantes de dichos derechos, escrito dentro de un marco de políticas públicas en relación a la inclusión, igualdad y ejercicio de los mismos. A su vez, plantea incluir a los mismos a la hora de la construcción de normas para así evitar sanciones que perjudiquen sus derechos.
En este eje se destaca también la importancia tanto del docente como del resto del equipo educativo como garante de los derechos del niño.
Cuidar el cuerpo y la salud
Este eje pone al cuerpo más allá de los conceptos socioculturales y busca trabajarlo desde un concepto más amplio que el de salud sexual, incluyendo también la historia personal, los discursos científicos, los derechos humanos, las ofertas de los medios masivos de comunicación y la representación de los cuerpos a través de las distintas manifestaciones artísticas. Además promueve la reflexión sobre los mensajes de “belleza” que la sociedad impone y cómo esto puede influir de manera negativa en la vida. Este eje plantea eliminar los estereotipos de los cuerpos y las sexualidades, dando un valor positivo a la diversidad, el disfrute y el placer. En la escuela es importante reconocer que el cuerpo sexuado y la salud no abarcan sólo la dimensión biológica. También considerar que el cuerpo puede trabajarse desde distintas disciplinas, tales como el arte, la educación física, los medios de comunicación, etc.
Programa Nacional de Educación Sexual Integral

El Programa Nacional lleva adelante la implementación de la ley. Entre sus principales acciones están:
• Coordinación, implementación y evaluación de contenidos de ESI en la educación primaria y secundaria
• "Jornadas Educar en Igualdad" para erradicar la violencia contra las mujeres
• "Plan Nacional de Disminución del Embarazo no intencional en la Adolescencia" junto con los Ministerios de Salud y Desarrollo Social.</p>
</div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="h1">CODIGO PENAL</h2>

    <p id="format">Ley 25.087

Delitos contra la integridad sexual. Modificación.

Sancionada: Abril 14 de 1999.
Promulgada: Mayo 7 de 1999.

El Senado y Cámara de Diputados de la Nación Argentina reunidos en Congreso, etc., sancionan con fuerza de Ley:

ARTICULO 1º —

1. — Sustitúyese la rúbrica del Título III del Libro Segundo del Código Penal “Delitos contra la honestidad” por el de “Delitos contra la integridad sexual”.

2. — Deróganse las rúbricas de los capítulos II, III, IV y V del Título III del Libro Segundo del Código Penal.

ARTICULO 2º — Sustitúyese el artículo 119 del Código Penal, por el siguiente texto:

“Será reprimido con reclusión o prisión de seis meses a cuatro años el que abusare sexualmente de persona de uno u otro sexo cuando, ésta fuera menor de trece años o cuando mediare violencia, amenaza, abuso coactivo o intimidatorio de una relación de dependencia, de autoridad, o de poder, o aprovechándose de que la víctima por cualquier causa no haya podido consentir libremente la acción.

La pena será de cuatro a diez años de reclusión o prisión cuando el abuso por su duración o circunstancias de su realización, hubiere configurado un sometimiento sexual gravemente ultrajante para la víctima.

La pena será de seis a quince años de reclusión o prisión cuando mediando las circunstancias del primer párrafo hubiere acceso carnal por cualquier vía.

En los supuestos de los dos párrafos anteriores, la pena será de ocho a veinte años de reclusión o prisión si:

a) Resultare un grave daño en la salud física o mental de la víctima;

b) El hecho fuere cometido por ascendiente, descendiente, afín en línea recta, hermano, tutor, curador, ministro de algún culto reconocido o no, encargado de la educación o de la guarda;

c) El autor tuviere conocimiento de ser portador de una enfermedad de transmisión sexual grave, y hubiere existido peligro de contagio;

d) El hecho fuere cometido por dos o más personas, o con armas;

e) El hecho fuere cometido por personal perteneciente a las fuerzas policiales o de seguridad, en ocasión de sus funciones;

f) El hecho fuere cometido contra un menor de dieciocho años, aprovechando la situación de convivencia preexistente con el mismo.

En el supuesto del primer párrafo, la pena será de tres a diez años de reclusión o prisión si concurren las circunstancias de los incisos a), b), d), e) o f).”

ARTICULO 3º — Sustitúyese el artículo 120 del Código Penal, por el siguiente texto:

“Será reprimido con prisión o reclusión de tres a seis años el que realizare algunas de las acciones previstas en el segundo o en el tercer párrafo del artículo 119 con una persona menor de dieciséis años, aprovechándose de su inmadurez sexual, en razón de la mayoría de edad del autor, su relación de preeminencia respecto de la víctima, u otra circunstancia equivalente, siempre que no resultare un delito más severamente penado.

La pena será de prisión o reclusión de seis a diez años si mediare alguna de las circunstancias previstas en los incisos a), b), c), e) o f) del cuarto párrafo del artículo 119.”

ARTICULO 4º — Deróganse los artículos 121, 122 y 123 del Código Penal.

ARTICULO 5º — Sustitúyese el artículo 125 del Código Penal, por el siguiente texto:

“El que promoviere o facilitare la corrupción de menores de dieciocho años, aunque mediare el consentimiento de la víctima será reprimido con reclusión o prisión de tres a diez años.

La pena será de seis a quince años de reclusión o prisión cuando la víctima fuera menor de trece años.

Cualquiera que fuese la edad de la víctima, la pena será de reclusión o prisión de diez a quince años, cuando mediare engaño, violencia, amenaza, abuso de autoridad o cualquier otro medio de intimidación o coerción, como también si el autor fuera ascendiente, cónyuge, hermano, tutor o persona conviviente o encargada de su educación o guarda.”

ARTICULO 6º — Incorpórase como artículo 125 bis del Código Penal, el siguiente texto:

“El que promoviere o facilitare la prostitución de menores de dieciocho años, aunque mediare el consentimiento de la víctima será reprimido con reclusión o prisión de cuatro a diez años.

La pena será de seis a quince años de reclusión o prisión cuando la víctima fuera menor de trece años.

Cualquiera que fuese la edad de la víctima, la pena será de reclusión o prisión de diez a quince años, cuando mediare engaño, violencia, amenaza, abuso de autoridad o cualquier otro medio de intimidación o coerción, como también, si el autor fuera ascendiente, cónyuge, hermano, tutor o persona conviviente o encargada de su educación o guarda.”

ARTICULO 7º — Sustitúyese el artículo 126 del Código Penal, por el siguiente texto:

“Será reprimido con reclusión o prisión de cuatro a diez años, el que con ánimo de lucro o para satisfacer deseos ajenos promoviere o facilitare la prostitución de mayores de dieciocho años de edad mediando engaño, abuso de una relación de dependencia o de poder, violencia, amenaza o cualquier otro medio de intimidación o coerción.”

ARTICULO 8º — Sustitúyese el artículo 127 del Código Penal, por el siguiente texto:

“Será reprimido con prisión de tres a seis años, el que explotare económicamente el ejercicio de la prostitución de una persona, mediando engaño, abuso coactivo o intimidatorio de una relación de dependencia, de autoridad, de poder, violencia, amenaza o cualquier otro medio de intimidación o coerción.”

ARTICULO 9º — Sustitúyese el artículo 128 del Código Penal, por el siguiente texto:

“Será reprimido con prisión de seis meses a cuatro años el que produjere o publicare imágenes pornográficas en que se exhibieran menores de dieciocho años, al igual que el que organizare espectáculos en vivo con escenas pornográficas en que participaren dichos menores.

En la misma pena incurrirá el que distribuyere imágenes pornográficas cuyas características externas hiciere manifiesto que en ellas se ha grabado o fotografiado la exhibición de menores de dieciocho años de edad al momento de la creación de la imagen.

Será reprimido con prisión de un mes a tres años quien facilitare el acceso a espectáculos pornográficos o suministrare material pornográfico a menores de catorce años.”

ARTICULO 10. — Sustitúyese el artículo 129 del Código Penal, por el siguiente texto:

“Será reprimido con multa de mil a quince mil pesos el que ejecutare o hiciese ejecutar por otros actos de exhibiciones obscenas expuestas a ser vistas involuntariamente por terceros.

Si los afectados fueren menores de dieciocho años la pena será de prisión de seis meses a cuatro años. Lo mismo valdrá, con independencia de la voluntad del afectado, cuando se tratare de un menor de trece años.”

ARTICULO 11. — Sustitúyese el artículo 130 del Código Penal, por el siguiente texto:

“Será reprimido con prisión de uno a cuatro años, el que sustrajere o retuviere a una persona por medio de la fuerza, intimidación o fraude, con la intención de menoscabar su integridad sexual.

La pena será de seis meses a dos años, si se tratare de una persona menor de dieciséis años, con su consentimiento.

La pena será de dos a seis años si se sustrajere o retuviere mediante fuerza, intimidación o fraude a una persona menor de trece años, con el mismo fin.”

ARTICULO 12. — Derógase el artículo 131 del Código Penal.

ARTICULO 13. — Sustitúyese el artículo 133 del Código Penal, por el siguiente texto:

“Los ascendientes, descendientes, cónyuges, convivientes, afines en línea recta, hermanos, tutores, curadores y cualesquiera persona que, con abuso de una relación de dependencia, de autoridad, de poder, de confianza o encargo, cooperaren a la perpetración de los delitos comprendidos en este título serán reprimidos con la pena de los autores.”

ARTICULO 14. — Sustitúyese el artículo 72 del Código Penal, por el siguiente texto:

“Son acciones dependientes de instancia privada las que nacen de los siguientes delitos:

1º) Los previstos en los artículos 119, 120 y 130 del Código Penal cuando no resultare la muerte de la persona ofendida o lesiones de las mencionadas en el artículo 91.

2º) Lesiones leves, sean dolosas o culposas.

Sin embargo, en los casos de este inciso se procederá de oficio cuando mediaren razones de seguridad o interés público.

3º) Impedimento de contacto de los hijos menores con sus padres no convivientes.

En los casos de este artículo, no se procederá a formar causa sino por acusación o denuncia del agraviado, de su tutor, guardador o representantes legales. Sin embargo, se procederá de oficio cuando el delito fuere cometido contra un menor que no tenga padres, tutor ni guardador, o que lo fuere por uno de sus ascendientes, tutor o guardador.

Cuando existieren intereses gravemente contrapuestos entre algunos de éstos y el menor, el Fiscal podrá actuar de oficio cuando así resultare más conveniente para el interés superior de aquél.”

ARTICULO 15. — Sustitúyese al artículo 132 del Código Penal, por el siguiente texto:

“En los delitos previstos en los artículos 119: 1º, 2º, 3º párrafos, 120: 1º párrafo y 130 la víctima podrá instar el ejercicio de la acción penal pública con el asesoramiento o representación de instituciones oficiales o privadas sin fines de lucro de protección o ayuda a las víctimas. Si ella fuere mayor de dieciséis años podrá proponer un avenimiento con el imputado. El Tribunal podrá excepcionalmente aceptar la propuesta que haya sido libremente formulada y en condiciones de plena igualdad, cuando, en consideración a la especial y comprobada relación afectiva preexistente, considere que es un modo más equitativo de armonizar el conflicto con mejor resguardo del interés de la víctima. En tal caso la acción penal quedará extinguida; o en el mismo supuesto también podrá disponer la aplicación al caso de lo dispuesto por los artículos 76 ter y 76 quáter del Código Penal.”

ARTICULO 16. — Sustitúyese el artículo 127 bis por el siguiente:

“Artículo 127 bis. El que promoviere o facilitare la entrada o salida del país de menores de 18 años para que ejerzan la prostitución, será reprimido con reclusión o prisión de 4 a 10 años. La pena será de seis a quince años de reclusión o prisión cuando la víctima fuere menor de trece años. Cualquiera que fuese la edad de la víctima, la pena será de prisión o reclusión de 10 a 15 años cuando mediare engaño, violencia, amenaza, abuso de autoridad o cualquier otro medio de intimidación o coerción, como también si el autor fuera ascendiente, cónyuge, hermano, tutor o persona conviviente o encargado de su educación o guarda.”

ARTICULO 17. — Incorpórase el artículo 127 ter.

“El que promoviere o facilitare la entrada o salida del país de una persona mayor de 18 años para que ejerza la prostitución mediando engaño, violencia, amenaza, abuso de autoridad o cualquier otro medio de intimidación o coerción, será reprimido con reclusión o prisión de tres a seis años.”

ARTICULO 18. — Comuníquese al Poder Ejecutivo.

DADA EN LA SALA DE SESIONES DEL CONGRESO ARGENTINO, EN BUENOS AIRES, A LOS CATORCE DIAS DEL MES DE ABRIL DEL AÑO MIL NOVECIENTOS NOVENTA Y NUEVE.</p>
  </div>
</div>

<! FIN
{% endblock %}
